body,
html {
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.container {
  background-color: #211e1e;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem;
  text-align: center;
}

.platforms {
  padding: 3rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 60vw;
  height: auto;
  text-align: center;
}

.cover-art {
  width: 30vw;
  min-width: 300px;
  height: auto;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #46b44f;
  border: 3px solid #156b38;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500;
  text-decoration: none;
  color: #f1f1f1;
}

.button:hover {
  background-color: #61b268;
  border-color: #46b44f;
  cursor: pointer;
}

.button.apple {
  background-color: #fa2c44;
  border-color: #333333;
}

.button.apple:hover {
  background-color: #fb5a72;
  border-color: #333333;
}

.button.soundcloud {
  background-color: #f77e3a;
  border-color: #333333;
}

.button.soundcloud:hover {
  background-color: #f79660;
  border-color: #333333;
}

.button.amazon {
  background-color: #21cbd6;
  border-color: #333333;
}

.button.amazon:hover {
  background-color: #16c2cd;
  border-color: #333333;
}

.icon-separator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 32px;
  height: 32px;
}
