body, html {
  margin: 0;
  padding: 0;
  color: #F1F1F1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.container {
  background-color: #211E1E;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.platforms {
  padding: 3rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.logo {
  width: 100%;
  max-width: 60vw;
  height: auto;
  text-align: center;
}

.button {
  background-color: #46B44F;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #F1F1F1;
}
